body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7e0e0;
}

.mothersDayCard {
    position: relative;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.mothersDayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
}

.mothersDayCard:hover .cardFront {
    transform: rotateY(-160deg);
}

.mothersDayCard:hover .front-text {
    display: none;
}

.mothersDayCard:hover .wrap-deco,
.mothersDayCard:hover .wrap-decoTwo,
.mothersDayCard:hover .plate {
    display: none;
}

.cardFront {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.happy,
.toyou {
    position: relative;
    font-family: 'Arial', sans-serif;
    text-align: center;
    backface-visibility: hidden;
    font-size: 24px;
    color: #333;
}

.happy {
    top: 180px;
}

.toyou {
    top: 120px;
}

.bday {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    text-align: center;
    top: 150px;
    color: #333;
}

.wrap-deco {
    position: absolute;
    top: 80px;
    left: 90px;
}

.wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top: 80px;
    left: 180px;
}

.heart {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 70px; /* Ajuste na posição vertical */
    left: 100px;
    transform: rotate(-45deg);
    background: #ff99cc;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff99cc;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}


.plate {
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #ff99cc;
    left: 85px;
    top: 300px;
}

.cardInside {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: 400px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
    position: relative;
    top: -160px;
    transform: scale(0.7);
}

.wishes {
    position: relative;
    top: -100px;
    margin: 25px;
}

p {
    font-family: 'Brush Script MT', cursive;
    color: #333;
}

.name {
    margin-left: 150px;
}